@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #111827;
}

::selection {
  background: #f97316;
  color: white;
}
